@import '~sassinc';

.Braft-dropdown{
  position: relative;
  height: 36px;
  &:hover{
    outline: 1px solid rgba(#000, .1);
  }
  .dropdown-items{
    position: relative;
    z-index: 10;
    float: left;
    height: 36px;
    overflow: hidden;
    background-color: #fff;
  }
  .dropdown-handler{
    display: block;
    float: left;
    width: 18px;
    height: 36px;
    padding: 0;
    background-color: transparent;
    border: none;
    i{
      display: block;
      width: 18px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      pointer-events: none;
    }
  }
  &.active{
    .dropdown-items{
      height: auto;
      outline: 1px solid #eee;
      box-shadow: 0 1px 3px rgba(#000, .1);
    }
  }
}