@import '~sassinc';

.text-color-dropdown .dropdown-handler {
  span{
    width: 36px;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
  }
}

.braft-text-color-picker-wrap{
  margin: 10px;
  overflow: hidden;
}

.browser-chrome .braft-color-switch-buttons{
  box-shadow: inset 0 0 0 .5px $COLOR_ACTIVE;
}
.browser-safari .braft-color-switch-buttons{
  border: solid .5px $COLOR_ACTIVE;
  box-shadow: none;
}

.braft-color-switch-buttons{
  height: 30px;
  margin: 10px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px $COLOR_ACTIVE;
  button{
    float: left;
    width: 50%;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    &.active{
      background-color: $COLOR_ACTIVE;
    }
  }
}