.BraftEditor-container{
  position: relative;
  height: 100%;
  padding: 0;
  overflow: auto;

  .BraftEditor-content{
    overflow: auto;
  }

  .input-group{
    display: block;
    input{
      width: 100%;
      height: 40px;
      padding: 0 15px;
      font-size: 14px;
    }
  }

}