.BraftEditor-container{
  position: relative;
  height: 100%;
  padding: 0;
  overflow: auto;

  .BraftEditor-content{
    overflow: auto;
  }

  .input-group{
    display: block;
    input{
      box-sizing: border-box;
      width: 100%;
      height: 36px;
      padding: 0 15px;
      font-size: 14px;
    }
  }

}