.BraftEditor-container{
  .DraftEditor-editorContainer{
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
    border: none;
  }
  .DraftEditor-root,
  .public-DraftEditor-content{
    height: 100%;
  }
  .public-DraftEditor-content{
    blockquote{
      margin: 5px 0;
      padding: 15px 20px;
      background-color: #f1f2f3;
      border-left: solid 5px #ccc;
      color: #666;
      font-style: italic;
    }
    pre{
      max-width: 100%;
      max-height: 100%;
      margin: 5px 0;
      padding: 15px;
      overflow: auto;
      background-color: #f1f2f3;
      border-radius: 3px;
      color: #666;
      font-family: monospace;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      word-wrap: break-word;
      white-space: pre-wrap;
      pre{
        margin: 0;
        padding: 0;
      }
    }
  }
  .braft-left-aligned-block {
    text-align: left;
  }
  .braft-right-aligned-block {
    text-align: right;
  }
  .braft-center-aligned-block {
    text-align: center;
  }
  .braft-justify-aligned-block {
    text-align: justify;
  }
  .braft-left-aligned-block,
  .braft-right-aligned-block,
  .braft-center-aligned-block,
  .braft-justify-aligned-block{
    & > div{
      display: inline-block;
    }
  }
}