@import '~prismjs/themes/prism-tomorrow.css';

.bf-container .public-DraftEditor-content .braft-code-block-wrapper{
  background-color: #21242a;
  border-radius: 3px;
  .braft-code-block-header{
    position: relative;
    z-index: 2;
    height: 30px;
    .syntax-switcher{
      position: relative;
      width: 120px;
      height: 26px;
      &:hover {
        span{
          background-color: #fff;
          color: #333;
        }
        .syntax-list{
          display: block;
        }
      }
      span{
        position: absolute;
        box-sizing: border-box;
        top: 8px;
        left: 5px;
        display: block;
        width: 120px;
        height: 26px;
        padding-left: 10px;
        border-radius: 3px 3px 0 0;
        color: #888;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;
        user-select: none;
      }
    }
    .syntax-list{
      position: absolute;
      box-sizing: border-box;
      top: 34px;
      left: 5px;
      display: none;
      width: 120px;
      height: auto;
      max-height: 300px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: auto;
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-radius: 0 0 3px 3px;
      box-shadow: 1px 5px 10px rgba(#000, .1);
      li{
        padding-left: 10px;
        line-height: 30px;
        color: #666;
        font-size: 12px;
        cursor: pointer;
        &:hover{
          background-color: #f1f1f1;
        }
      }
    }
  }
  .braft-code-block{
    background-color: transparent;
    color: #eee;
  }
}