@import '~prismjs/themes/prism-tomorrow.css';

.bf-container .public-DraftEditor-content .braft-code-block-wrapper{
  margin: 10px 0;
  background-color: #21242a;
  border-radius: 3px;
  .braft-code-block-header{
    position: relative;
    z-index: 2;
    height: 30px;
    .syntax-switcher{
      position: relative;
      width: 120px;
      height: 28px;
      &:hover {
        span{
          background-color: #fff;
          color: #333;
        }
        .syntax-list{
          display: block;
        }
      }
      span{
        position: absolute;
        box-sizing: border-box;
        top: 8px;
        left: 5px;
        display: block;
        width: 120px;
        height: 28px;
        background-clip: padding-box;
        padding-left: 10px;
        border: 1px solid rgba(#000, .1);
        border-radius: 3px 3px 0 0;
        color: #888;
        font-size: 12px;
        line-height: 26px;
        cursor: pointer;
        user-select: none;
      }
    }
    .syntax-list{
      position: absolute;
      box-sizing: border-box;
      top: 34px;
      left: 5px;
      display: none;
      width: 120px;
      height: auto;
      max-height: 300px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(#000, .1);
      border-radius: 0 0 3px 3px;
      box-shadow: 1px 5px 10px rgba(#000, .1);
      li{
        padding-left: 10px;
        line-height: 30px;
        color: #666;
        font-size: 12px;
        cursor: pointer;
        &:hover{
          background-color: #f1f1f1;
        }
      }
    }
  }
  .braft-code-block{
    max-height: 400px;
    margin: 0;
    overflow: auto;
    background-color: transparent;
    color: #eee;
    counter-reset: line;
    &.show-line-number > code {
      display: block;
      position: relative;
      margin-left: 55px;
      &::before {
        position: absolute;
        top: 0;
        left: -55px;
        width: 40px;
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        border-right: 1px solid rgba(#fff, .1);
        color: #666
      }
      &:hover::before{
        color: #ddd;
      }
    }
  }
}