{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not IE <= 10"
          ]
        },
        "modules": false
      }
    ],
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": ["react-hot-loader/babel"]
}