{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "_": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "ArrayExpression": "first"
      }
    ],
    "comma-dangle": 0,
    "max-len": 0,
    "jsx-quotes": [2, "prefer-double"],
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "arrow-parens": ["error", "always"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "eol-last": ["error", "always"],
    "no-console": 0,
    "class-methods-use-this": 0,
    "function-paren-newline": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/sort-comp": 0,
    "prefer-destructuring": 0,
    "react/require-default-props": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
