@import '~sassinc';

.braft-image-uploader{
  margin: 0 15px;
  input::-webkit-input-placeholder{
    color: #ccc;
  }
  input::-moz-placeholder{
    color: #ccc;
  }
  input::-ms-input-placeholder{
    color: #ccc;
  }
}

.braft-image-previewer{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 10px;
  bottom:0;
  left: 10px;
  overflow: hidden;
  img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #eee;
    object-fit: cover;
  }
}

.braft-image-previewer:hover .braft-image-uploader-tools{
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.braft-image-uploader-tools{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -5px);
  transition: transform .3s, opacity .3s, visibility .3s;
  button{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: rgba(#000, .7);
    border: none;
    border-radius: 50%;
    outline: none;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    cursor: pointer;
    transition: background .3s, color .3s;
    &.active{
      color: $COLOR_ACTIVE;
    }
    &:hover{
      background-color: $COLOR_ACTIVE;
      color: #fff;
    }
  }
}

.braft-image-drag-uploader{
  height: 370px;
  margin: auto;
  border: dashed 1px #bbb;
  border-radius: 3px;
  text-align: center;
  transition: border .3s;
  &.active{
    border-color: rgba($COLOR_ACTIVE, .5);
  }
}
.braft-image-uploader-buttons{
  height: 370px;
  margin: auto;
  text-align: center;
}

.braft-image-upload-tip{
  position: relative;
  display: inline-block;
  margin-top: 130px;
  color: #ccc;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  transition: color .3s;
  &:hover{
    color: $COLOR_ACTIVE;
  }
  input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.braft-image-url-input{
  width: 500px;
  max-width: 90%;
  height: 40px;
  margin: 131px auto 0 auto;
  input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 0 0 .5px rgba(#000, .3);
    color: #999;
    font-size: 18px;
    &:focus{
      border-color: $COLOR_ACTIVE;
    }
  }
}

.braft-image-uploader-switch-type{
  margin-top: 15px;
  text-align: center;
  button{
    display: inline-block;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 12px;
    cursor: pointer;
    transition: color .3s;
    &:hover{
      color: $COLOR_ACTIVE;
    }
  }
}