@import '~sassinc';

.braft-media-audio-holder{
  display: block;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #f1f2f3;
  color: #999;
  text-align: center;
  i{
    display: inline-block;
    margin-top: 40px;
    font-size: 48px;
  }
  h5, h6{
    max-width: 80%;
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h5{
    margin: 10px auto;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
  }
  h6{
    margin: 10px auto;
    padding: 0;
    font-size: 14px;
  }
}