@import '~sassinc';

.BraftEditor-controlBar{
  min-height: 48px;
  margin: 0 15px;
  border-bottom: 1px solid #ddd;
  .control-item-group{
    float: left;
    height: 48px;
  }
  .control-item{
    display: block;
    float: left;
    height: 36px;
    margin: 6px 1px 0 0;
    &.button{
      width: 36px;
      padding: 0;
      background-color: transparent;
      border: none;
      color: $COLOR_CONTROL_BUTTON;
      font-size: 18px;
      &:hover{
        outline: 1px solid rgba(#000, .1);
        color: $COLOR_CONTROL_BUTTON_ACTIVE;
      }
      &.active{
        color: $COLOR_CONTROL_BUTTON_ACTIVE;
      }
      i::before{
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
  .dropdown{
    .control-item{
      float: none;
      margin: 0;
    }
  }
}