@import '~sassinc';

.BraftEditor-controlBar{
  min-height: 48px;
  margin: 0 15px;
  border-bottom: 1px solid #ddd;
  .control-item-group{
    float: left;
    height: 48px;
  }
  .control-item{
    display: block;
    float: left;
    height: 36px;
    margin: 6px 1px 0 0;
    &.button{
      min-width: 36px;
      background-color: transparent;
      border: none;
      color: $COLOR_CONTROL_BUTTON;
      font-size: 18px;
      &:hover{
        box-shadow: inset 0 0 1px 0 rgba(#000, .4);
        background-color: rgba(#000, .05);
      }
      &.active{
        background-color: $COLOR_CONTROL_BUTTON_ACTIVE;
        box-shadow: inset 0 0 1px 0 rgba(#000, .4);
        color: #fff;
      }
      i::before{
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
  .dropdown{
    .control-item{
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}