@import '~sassinc';

.braft-media-picker-modal{

  .braft-media-uploader{
    position: relative;
    height: 370px;
    margin: 0;
    &.draging{
      .braft-media-list-wrap,
      .braft-media-add-external{
        pointer-events: none;
      }
    }
    input::-webkit-input-placeholder{
      color: #ccc;
    }
    input::-moz-placeholder{
      color: #ccc;
    }
    input::-ms-input-placeholder{
      color: #ccc;
    }
  }

  .braft-media-list-wrap{
    position: relative;
    height: 370px;
  }
  .braft-media-list-tools{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    padding: 0 15px;
    background-color: #fff;
    span{
      height: 26px;
      font-size: 12px;
      line-height: 20px;
      cursor: pointer;
      user-select: none;
      &[disabled]{
        opacity: .3;
        pointer-events: none;
      }
      
    }
    .braft-media-select-all,
    .braft-media-deselect-all{
      float: left;
      margin-right: 5px;
      color: #bbb;
      &:hover{
        color: $COLOR_ACTIVE;
      }
    }
    .braft-media-remove-selected{
      float: right;
      color: $COLOR_DANGER;
      &:hover{
        color: $COLOR_DANGER - 30;
      }
    }
  }
  .braft-media-list{
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 5px;
      height: 5px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-track{
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgba(#000, .1);
    }
  }

  .braft-media-item,
  .braft-media-add-item{
    position: relative;
    display: block;
    float: left;
    width: 113px;
    height: 113px;
    margin: 5px;
    overflow: hidden;
    border-radius: 3px;
  }

  .braft-media-item{
    &.uploading{
      pointer-events: none;
    }
    &.error{
      &::before{
        display: block;
        content: "\e901";
      }
      &::after{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($COLOR_DANGER, .8);
        content: '';
      }
      &:hover{
        &::after{
          background-color: rgba($COLOR_DANGER, .9);
        }
      }
      .braft-media-item-uploading{
        display: none;
      }
    }
  }

  .braft-media-add-item{
    background-color: #ecedef;
    color: #999;
    &:hover{
      background-color: #e1e2e3;
    }
    i{
      display: block;
      width: 113px;
      height: 113px;
      font-size: 48px;
      line-height: 113px;
      text-align: center;
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  .braft-media-item{
    &::before{
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 113px;
      height: 113px;
      color: #fff;
      font-size: 48px;
      font-family: 'icomoon';
      line-height: 113px;
      text-align: center;
    }
    &::after{
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($COLOR_ACTIVE, 0);
      content: '';
    }
    &:hover{
      &::after{
        background-color: rgba($COLOR_ACTIVE, .3);
      }
      .braft-media-item-remove{
        display: block;
      }
    }
    &.active{
      &::before{
        display: block;
        content: "\e912";
      }
      &::after{
        background-color: rgba($COLOR_ACTIVE, .6);
      }
      &:hover {
        &::after{
          background-color: rgba($COLOR_ACTIVE, .8);
        }
        .braft-media-item-remove{
          display: none;
        }
      }
    }
  }

  .braft-media-item-uploading{
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    top: 52px;
    left: 10px;
    width: 93px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(#fff, .3);
    border-radius: 5px;
    box-shadow: 0 0 0 100px rgba(#000, .5);
  }
  .braft-media-item-uploading-bar{
    height: 10px;
    background-color: $COLOR_ACTIVE;
    border-radius: 0;
  }

  .braft-media-item-remove{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    &:hover{
      color: $COLOR_DANGER;
    }
  }

  .braft-media-item-title{
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    overflow: hidden;
    background-image: linear-gradient(rgba(#000, 0), rgba(#000, 1));
    color: #fff;
    font-size: 12px;
    line-height: 55px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .braft-media-image{
    width: 100%;
    height: 100%;
    background-color: #eee;
    user-select: none;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .braft-media-video{
    background-color: #8e44ad;
  }
  .braft-media-audio{
    background-color: #f39c12;
  }
  .braft-media-icon{
    display: block;
    width: 113px;
    height: 113px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-decoration: none;
    i, span{
      display: block;
    }
    i{
      margin-top: 35px;
      font-size: 24px;
    }
    span{
      width: 103px;
      margin: 10px auto;
      overflow: hidden;
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .braft-media-drag-uploader{
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 15px;
    left: 15px;
    height: 100%;
    background-color: #fff;
    border: dashed 1px #bbb;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    &:hover,
    &.draging{
      background-color: #f1f2f3;
    }
    &.active{
      opacity: 1;
      pointer-events: auto;
    }
  }

  .braft-media-uploader-buttons{
    height: 370px;
    margin: auto;
    text-align: center;
  }

  .braft-media-drag-tip{
    display: inline-block;
    margin-top: 150px;
    color: #ccc;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    input{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      color: #fff;
      text-indent: -100px;
      cursor: pointer;
    }
  }

  .braft-media-bottom-text{
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    color: #bbb;
    line-height: 16px;
    cursor: pointer;
    user-select: none;
    &[disabled]{
      pointer-events: none;
      opacity: .5;
    }
    &:hover{
      color: $COLOR_ACTIVE;
    }
    i{
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  .braft-media-add-external{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }

  .browser-chrome .braft-media-external-form input{
    box-shadow: inset 0 0 0 .5px rgba(#000, .3);
    &:focus{
      box-shadow: inset 0 0 0 .5px $COLOR_ACTIVE;
    }
  }
  .browser-safari .braft-media-external-form input{
    border: solid .5px rgba(#000, .3);
    box-shadow: none;
    &:focus{
      border-color: $COLOR_ACTIVE;
      box-shadow: none;
    }
  }

  .braft-media-external-form{
    width: 500px;
    max-width: 90%;
    margin: 91px auto 0 auto;
  }

  .braft-media-external-input{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    div{
      position: absolute;
      top: 0;
      right: 85px;
      left: 0;
      height: 40px;
    }
    input{
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: none;
      border-radius: 3px;
      outline: none;
      box-shadow: inset 0 0 0 1px rgba(#000, .3);
      color: #999;
      font-size: 18px;
      &:focus{
        box-shadow: inset 0 0 0 1px $COLOR_ACTIVE;
      }
    }
    button{
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 40px;
      background-color: $COLOR_ACTIVE;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      &:disabled{
        opacity: .3;
        pointer-events: none;
        filter: grayscale(.4);
      }
      &:hover{
        background-color: $COLOR_ACTIVE - 20;
      }
    }
  }

  .braft-media-switch-external-type{
    overflow: hidden;
    text-align: center;
    button{
      width: 60px;
      height: 30px;
      margin: 10px 5px;
      background-color: #e8e9ea;
      border: none;
      border-radius: 3px;
      color: #999;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        background-color: #d8d9da;
      }
      &:only-child{
        display: none;
      }
    }
    &[data-type="IMAGE"] [data-type="IMAGE"],
    &[data-type="VIDEO"] [data-type="VIDEO"],
    &[data-type="AUDIO"] [data-type="AUDIO"],
    &[data-type="FILE"] [data-type="FILE"]{
      background-color: $COLOR_ACTIVE;
      color: #fff;
    }
  }

  .braft-media-external-tip{
    display: block;
    margin-top: 15px;
    color: #ccc;
    font-size: 12px;
    text-align: center;
  }

}