@import '~sassinc';

.braft-media-uploader{
  margin: 0 15px;
  input::-webkit-input-placeholder{
    color: #ccc;
  }
  input::-moz-placeholder{
    color: #ccc;
  }
  input::-ms-input-placeholder{
    color: #ccc;
  }
}

.braft-media-previewer{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 10px;
  left: 10px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.braft-media-preview-content{
  width: 100%;
  height: 100%;
}

.braft-media-image{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  object-fit: cover;
}
.braft-media-video{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  object-fit: contain;
}
.braft-media-audio{
  display: block;
  width: 500px;
  height: 50%;
  margin: 0 auto;
}
.braft-media-file{

}

.braft-media-preview-tools{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -5px);
  transition: transform .3s, opacity .3s, visibility .3s;
  button{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: rgba(#000, .7);
    border: none;
    border-radius: 50%;
    outline: none;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    cursor: pointer;
    transition: background .3s, color .3s;
    &.active{
      color: $COLOR_ACTIVE;
    }
    &:hover{
      background-color: $COLOR_ACTIVE;
      color: #fff;
    }
  }
}

.braft-media-previewer:hover .braft-media-preview-tools{
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.braft-media-drag-uploader{
  height: 370px;
  margin: auto;
  border: dashed 1px #bbb;
  border-radius: 3px;
  text-align: center;
  transition: border .3s;
  &.active{
    border-color: rgba($COLOR_ACTIVE, 1);
    .braft-media-drag-tip{
      position: static;
      color: $COLOR_ACTIVE;
    }
    .braft-media-uploader-switch-mode{
      pointer-events: none;
      opacity: 0;
    }
  }
}

.braft-media-uploader-buttons{
  height: 370px;
  margin: auto;
  text-align: center;
}

.braft-media-drag-tip{
  position: relative;
  display: inline-block;
  margin-top: 130px;
  color: #ccc;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  transition: color .3s;
  &:hover{
    color: $COLOR_ACTIVE;
  }
  input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.braft-media-url-input{
  position: relative;
  width: 500px;
  max-width: 90%;
  margin: 91px auto 0 auto;
  input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 0 0 .5px rgba(#000, .3);
    color: #999;
    font-size: 18px;
    &:focus{
      border-color: $COLOR_ACTIVE;
    }
  }
}

.braft-media-switch-type{
  height: 30px;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  transition: opacity .3s;
  button{
    width: 60px;
    height: 30px;
    margin: 0 5px;
    background-color: #e8e9ea;
    border: none;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
    transition: background .3s, color .3s;
    &:hover{
      background-color: #d8d9da;
    }
  }
  &[data-type="IMAGE"] [data-type="IMAGE"],
  &[data-type="VIDEO"] [data-type="VIDEO"],
  &[data-type="AUDIO"] [data-type="AUDIO"],
  &[data-type="FILE"] [data-type="FILE"]{
    background-color: $COLOR_ACTIVE;
    color: #fff;
  }
}

.braft-media-uploader-switch-mode{
  margin-top: 15px;
  text-align: center;
  button{
    display: inline-block;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 12px;
    cursor: pointer;
    transition: color .3s;
    &:hover{
      color: $COLOR_ACTIVE;
    }
  }
}