@import '~sassinc';

.BraftEditor-controlBar{
  min-height: 48px;
  margin: 0 15px;
  box-shadow: inset 0 -.5px 0 0 rgba(#000, .2);
  line-height: 0;
  .control-item-group{
    position: relative;
    display: inline-block;
    height: 48px;
    margin-right: 10px;
    padding-right: 10px;
    &::after{
      position: absolute;
      top: 11px;
      right: 0;
      height: 26px;
      width: 1px;
      box-shadow: inset -.5px 0 0 0 rgba(#000, .1);
      content: '';
    }
    &:last-child{
      margin-right: 0;
      padding-right: 0;
      &::after{
        content: none;
      }
    }
  }
  .control-item{
    display: block;
    float: left;
    height: 36px;
    margin: 6px 1px 0 0;
    cursor: pointer;
    &.button{
      min-width: 36px;
      background-color: transparent;
      border: none;
      color: $COLOR_GRAY;
      font-size: 18px;
      &:hover{
        background-color: rgba(#000, .05);
      }
      &.active{
        background-color: $COLOR_ACTIVE;
        color: #fff;
      }
      i::before{
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
  .dropdown{
    .control-item{
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}