@import '~sassinc';
.font-families-dropdown{
  width: 130px;
  .dropdown-handler{
    box-shadow: inset 0 0 0 .5px rgba(#000, .1);
  }
  .dropdown-content{
    width: 180px;
  }
  .menu-item{
    padding: 12px 15px;
  }
}