@import '~scssinc';

.braft-media-embed-holder{
  position: relative;
  display: block;
  margin: 10px 0;
  overflow: hidden;
  background-color: #f1f2f3;
  iframe, embed{
    width: 100%;
    margin: 0 auto;
  }
}