@import '~sassinc';

.text-color-dropdown .dropdown-handler span{
  width: 36px;
  padding-left: 0;
}

.braft-color-list{
  list-style: none;
  width: 240px;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  li{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin: 5px;
    padding: 0;
    background-color: currentColor;
    border: 3px solid transparent;
    border-radius: 50%;
    transition: .3s;
    &:hover{
      opacity: .8;
      transform: scale(.98);
    }
    &.active{
      box-shadow: 0 0 0 2px $COLOR_ACTIVE;
    }
  }
}