@import '~scssinc';

.braft-media-video-holder{
  position: relative;
  display: block;
  height: 480px;
  margin: 10px 0;
  overflow: hidden;
  video{
    display: block;
    width: 100%;
    height: 480px;
    background-color: #000;
    object-fit: contain;
  }
}